.labelRadio::before {
    content: "";
    position: absolute;
    left: 10px;
    top:10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
   
    box-shadow: 1px 1px 5px #000;
}
.labelRadio{
    position: relative;
}

input[type=radio] {
    cursor: pointer;
    margin: 20px;
}

.radioList {
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;

}