.default {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 15px;
    border: 1px solid #CCCCCC;
    color: #ffffff;
    background: #4e6354;
    outline: none;
    -webkit-box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.5);

}

.red {
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
    margin: 15px;
    border: 1px solid #CCCCCC;
    background: rgb(206, 47, 47);
    color: #ffffff;
    -webkit-box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.5);
}