.someClass {
    background-color: #52432c;
    color: white;
    text-align: center;
    position: relative;
}


span {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-size: 64px;
    font-weight: lighter;
    font-style: oblique;
}

input {
    padding: 10px 10px;
}

button {
    border: none;
    padding: 10px;
    margin: 10px;
}

ul li {
    list-style: none;
}